 <div class="attachment-block clearfix" ng-repeat="video in videos">
                                <img class="attachment-img" src="http://200.42.138.40/MediaUpload/{{video.ThumbnailPath}}" alt="attachment image">
                                <div class="attachment-pushed">
                                    <h4 class="attachment-heading">
                                        <a >{{video.Name}}</a>
                                    </h4>
                                </div>
                            </div>