<div class="row">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Usuario Nuevo</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputUserName3" class="col-sm-2 control-label">Nombre de Usuario</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUserName3" placeholder="Nombre de Usuario" ng-model="userName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName3" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputFirstName3" placeholder="Nombre" ng-model="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName3" class="col-sm-2 control-label">Apellido</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLastName3" placeholder="Apellido" ng-model="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress3" class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAddress3" placeholder="Direccion" ng-model="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress3" class="col-sm-2 control-label">E-mail</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" placeholder="e-mail" ng-model="mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress3" class="col-sm-2 control-label">Perfil</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="profileId">
                                <option ng-repeat="profile in profiles" value="{{profile.value}}">{{profile.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="profileId == 1">
                        <label for="inputConfirmPassword3" class="col-sm-2 control-label">ID de Estacionamiento</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputConfirmPassword3" placeholder="ID de Estacionamiento" ng-model="parkingId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Clave</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Clave" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword3" class="col-sm-2 control-label">Confirma Clave</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputConfirmPassword3" placeholder="Confirma Clave" ng-model="confirmPassword">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-info pull-right" ng-click="createUser()">Crear Usuario</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.box-body -->
</div>
