<!-- Small boxes (Stat box) -->
<h1>{{parking.name}} - {{parking.address}}</h1> 
<h6>{{parking.email}}</h6>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{parking.availablePlaces}}</h3>
                <p>Lugares Libres</p>
            </div>
            <div class="icon">
                <i class="fa fa-car"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3><sup style="font-size: 20px">$</sup> {{averagePrice }}</h3>
                <p>Precio promedio</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{dayVisit}}</h3>
                <p>Visitas por día</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>
    <!-- ./col --> 

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{promotions.length}}</h3>
                <p>Promociones</p>
            </div>
            <div class="icon">           
                <i class="fa fa-gift"></i>
            </div>
            <a href="#/promotions/{{parkingId}}" class="small-box-footer">Ver promos <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="row">
            <div class="col-md-4">
                <h3>Valoración</h3>
            </div>
            <div class="col-md-8">

                <input rating id="rating" type="number" class="rating" ng-model="rating" parking="parking">
                <a href="#/review/{{parkingId}}" class="btn btn-defalt">Ver Comentarios</a>
            </div>
        </div>
        <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
                <li class="pull-left header"><i class="fa fa-inbox"></i> Lista de Precios</li>
            </ul>
            <div class="tab-content no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th></th>
                                <td>Auto</td>
                                <td>Moto</td>
                                <td>Camioneta</td>
                                <td>Bici</td>
                            </tr> 
                            <tr>
                                <th>Hora:</th>
                                <td>{{prices["car"]["hour"].price != undefined ? "$" + prices["car"]["hour"].price : "consultar"}}</td>
                                <td>{{prices["moto"]["hour"].price != undefined ? "$" + prices["moto"]["hour"].price : "consultar"}}</td>
                                <td>{{prices["pickup"]["hour"].price != undefined ? "$" + prices["pickup"]["hour"].price : "consultar"}}</td>
                                <td>{{prices["bike"]["hour"].price != undefined ? "$" + prices["bike"]["hour"].price : "consultar"}}</td>
                            </tr>
                            <tr>
                                <th>Fraccion</th>
                                <td>{{prices["car"]["part"].price != undefined ? "$" + prices["car"]["part"].price : "consultar"}}</td>
                                <td>{{prices["moto"]["part"].price != undefined ? "$" + prices["moto"]["part"].price : "consultar"}}</td>
                                <td>{{prices["pickup"]["part"].price != undefined ? "$" + prices["pickup"]["part"].price : "consultar"}}</td>
                                <td>{{prices["bike"]["part"].price != undefined ? "$" + prices["bike"]["part"].price : "consultar"}}</td>
                            </tr>
                            <tr>
                                <th>12hs:</th>
                               <td>{{prices["car"]["midday"].price != undefined ? "$" + prices["car"]["midday"].price : "consultar"}}</td>
                                <td>{{prices["moto"]["midday"].price != undefined ? "$" + prices["moto"]["midday"].price : "consultar"}}</td>
                                <td>{{prices["pickup"]["midday"].price != undefined ? "$" + prices["pickup"]["midday"].price : "consultar"}}</td>
                                <td>{{prices["bike"]["midday"].price != undefined ? "$" + prices["bike"]["midday"].price : "consultar"}}</td>
                            </tr>
                            <tr>
                                <th>24hs</th>
                                <td>{{prices["car"]["day"].price != undefined ? "$" + prices["car"]["day"].price : "consultar"}}</td>
                                <td>{{prices["moto"]["day"].price != undefined ? "$" + prices["moto"]["day"].price : "consultar"}}</td>
                                <td>{{prices["pickup"]["day"].price != undefined ? "$" + prices["pickup"]["day"].price : "consultar"}}</td>
                                <td>{{prices["bike"]["day"].price != undefined ? "$" + prices["bike"]["day"].price : "consultar"}}</td>
                            </tr>
                            <tr>
                                <th>Mensual</th>
                                <td>{{prices["car"]["month"].price != undefined ? "$" + prices["car"]["month"].price : "consultar"}}</td>
                                <td>{{prices["moto"]["month"].price != undefined ? "$" + prices["moto"]["month"].price : "consultar"}}</td>
                                <td>{{prices["pickup"]["month"].price != undefined ? "$" + prices["pickup"]["month"].price : "consultar"}}</td>
                                <td>{{prices["bike"]["month"].price != undefined ? "$" + prices["bike"]["month"].price : "consultar"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.nav-tabs-custom -->
        <!-- Chat box -->
      
        <!-- /.box (chat box) -->
        <!-- TO DO List -->
       
        <!-- /.box -->
        <!-- quick email widget -->
       
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">
        <!-- Map box -->
        <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                    <button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                </div>
                <!-- /. tools -->
                <i class="fa fa-map-marker"></i>
                <h3 class="box-title">
          Map
        </h3>
            </div>
            <div class="box-body">
                <div id="" style="height: 250px; width: 100%;">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
                        <ui-gmap-markers models="map.markers" coords="'self'" options="'options'" isLabel='true' click="onClick">
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
            </div>
           
        </div>
        <!-- /.box -->
      
        <!-- /.box -->
      
    </section>

    <!-- right col -->
</div>
<!-- /.row (main row) -->
