<div class="col-md-12" ng-if="payments.length == 0">
    <div class="error-page">
        <div class="error-content">
            <h3><i class="text-yellow"></i>No posee ningún pago por realizar.</h3>
        </div>
    </div>
</div>
<div class="row" ng-if="payments.length != 0">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Fecha de vencimiento</th>
                            <th>Monto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="payment in payments">
                            <td>
                                <div ng-show="payment.paidDate != null" style="color: #5cb85c; font-weight: bold;">
                                    Pagado
                                </div>
                                <div ng-show="payment.paidDate == null" style="color: #d9534f; font-weight: bold;">
                                    No pagado
                                </div>
                            </td>
                            <td>{{payment.dueDate}}</td>
                            <td>$ {{payment.amount | number:2}}</td>
                            <td class="pull-right">
                                <a ng-href="{{payment.mercadopagoUrl}}" target="_blank" class="btn btn-primary btn-sm">Pagar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>