<div class="row">

    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border"> <i class="fa fa-warning"></i>
                <h3 class="box-title">Players</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div
    data-angular-treeview="true"
    data-tree-id="PlayersNode"
    data-tree-model="treedata"
    data-node-id="id"
    data-node-label="label"
    data-node-children="children" ></div>
            </div>
         </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12" ng-controller="ContentController">
        <div class="box box-info">
            <div class="box-header with-border"> <i class="fa fa-warning"></i>
                <h3 class="box-title">Content</h3>
                <!-- <h3 class="">
                    <ol class="breadcrumb">
                        <li ng-repeat="tr in tree">
                            <a>{{tr}}</a>
                        </li>
                        
                    </ol>
                </h3> -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-6">
                    <div class="row" ng-repeat="folder in folders">

                        <div class="box box-default">
                            <div class="box-header with-border" ng-click="select(folder.Name)">
                                <h3 class="box-title">{{folder.Name}}</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
                            

                <div class="col-md-6">
                    <h3 class="box-title">{{selected}}</h3>
                    <div class="box-body" style="display: block;">
                        <div ng-show="selected == 'Imagenes'">
                               <ng-include src="getPath('Imagenes')"></ng-include>
                        </div>
                        <div ng-show="selected == 'Videos'">
                                <ng-include src="getPath('Videos')"></ng-include>
                        </div>
                            </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12" ng-controller="PlaylistController">
        <div class="box box-info">
            <div class="box-header with-border">
                <i class="fa fa-warning"></i>
                <h3 class="box-title">Playlist</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="attachment-block clearfix" ng-repeat="playlist in playlists">
                            <img class="attachment-img"  >
                            <div class="attachment-pushed">
                                <h4 class="attachment-heading">
                                    <a ng-click="chargeContent(playlist.Id, playlist.GroupId)">{{playlist.Name}}</a>
                                </h4>
                                <div class="attachment-text">
                                    Duration: {{playlist.Duration}}ms
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Content</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="box-body" style="display: block;">
                                <div class="attachment-block clearfix" ng-repeat="cont in content">
                                    <img class="attachment-img" src="http://200.42.138.40/MediaUpload/{{cont.ThumbnailPath}}" alt="attachment image">
                                    <div class="attachment-pushed">
                                        <h4 class="attachment-heading">
                                            <a >{{cont.MediaName}}</a>
                                        </h4>
                                        <div class="attachment-text">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.box-body --> </div>
        <!-- /.box --> </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <i class="fa fa-warning"></i>
                <h3 class="box-title">Planning</h3>
            </div>
            
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        Semana 1
                    </div>
                    <div class="col-md-9">
                        <table>
                            <thead>    
                                <th ng-repeat="n in [] | range:24">{{n}}</th>
                            </thead>
                                <td ng-repeat="n in [] | range:24" id="hour{{n}}" class="planning-hour">   
                                </td>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Semana 2
                    </div>
                    <div class="col-md-9">
                        <table>
                            <thead>    
                                <th ng-repeat="n in [] | range:24">{{n}}</th>
                            </thead>
                                <td ng-repeat="n in [] | range:24" id="hour{{n}}" class="planning-hour">   
                                </td>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Semana 3
                    </div>
                    <div class="col-md-9">
                        <table>
                            <thead>    
                                <th ng-repeat="n in [] | range:24">{{n}}</th>
                            </thead>
                                <td ng-repeat="n in [] | range:24" id="hour{{n}}" class="planning-hour">   
                                </td>
                        </table>
                    </div>
                </div>
            </div>
             </div>
         </div>
         </div>
</div>