<div class="row">

    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border"> <i class="fa fa-warning"></i>
                <h3 class="box-title">Players</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div
    data-angular-treeview="true"
    data-tree-id="PlayersNode"
    data-tree-model="treedata"
    data-node-id="id"
    data-node-label="label"
    data-node-children="children" >
</div>
      asdasd
            </div>
            <!-- /.box-body --> </div>
        <!-- /.box --> </div>
</div>