<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Price List</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-block btn-primary btn-sm" ng-click="edit()" ng-show="editOn == false"><i class="fa fa-edit"></i> Editar</button>
                    <button class="btn btn-block btn-success btn-sm" ng-click="saveEdit()" ng-show="editOn == true"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
            <div class="tab-content no-padding">
                <th class="table-responsive">
                    <table class="table">
                        <tr ng-repeat="time in timeTypes">
                            <td ng-repeat="vehicle in vehicleTypes">
                                <div ng-if="time == '-1'" style="font-weight: bold;"> {{vehicleNames[vehicle]}} </div>
                                <div ng-if="vehicle == '-1'" style="font-weight: bold;"> {{timeNames[time]}} </div>
                                <div ng-if="time != '-1' && vehicle != '-1' && pricesDict[time][vehicle].price != ''" ng-show="editOn == false">
                                    ${{pricesDict[time][vehicle].price}}
                                </div>
                                <div ng-if="time != '-1' && vehicle != '-1'" ng-show="editOn == true">
                                    <input type="number" style="width:100px; height: 27px;" ng-model="pricesDict[time][vehicle].newPrice"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                </th>
            </div>
        </div>
    </div>
</div>