<div class="col-md-12" ng-show="promotionsCols.length == 0">
    <div class="error-page left">

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> El estacionamiento no posee promociones.</h3>
            <p>
                Lamentablemente este estacionamiento no tiene promociones vigentes. <a ng-href="#/promotions/all">Ver todas las promos existente</a>.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
</div>
<div class="row">
    
    <div>
                <div class="col-xs-4 col-xs-offset-4">
                    <button class="btn btn-block btn-primary center-block" ng-click="addNewPromotion()"> Crear Promoci&oacute;n</button>
                </div>
    </div>
</div>
<div ng-repeat="promotions in promotionsCols track by $index" class="row">
    <div class="col-md-6" ng-repeat="promotion in promotions track by $index">
        <div ng-if="promotion.emptyPromo == false">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right ui-sortable-handle" style="padding-top: 5px;">
                    <li class="pull-left header">
                        <div ng-show="editOn[promotion.index] == false">
                            {{promotion.title != null ? promotion.title : "Oportunidad"}}
                        </div>
                        <div ng-show="editOn[promotion.index] == true">
                            <input type="text" class="form-control" ng-model="promotion.title"/>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-block btn-danger btn-sm" style="height: 27px;" ng-click="delete(promotion.index)" ><i class="fa fa-remove"></i> Eliminar</button>
                    </li>
                    <li>
                        <div ng-show="editOn[promotion.index] == false">
                            <button class="btn btn-block btn-primary btn-sm" style="height: 27px;" ng-click="edit(promotion.index)" ><i class="fa fa-edit"></i> Editar</button>
                        </div>
                        <div ng-show="editOn[promotion.index] == true">
                            <button class="btn btn-block btn-success btn-sm" ng-click="saveEdit(promotion.index)"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </li>
                </ul>
                <div class="box-body box-profile">
                    <div ng-show="editOn[promotion.index] == false">
                        {{promotion.description}}
                    </div>
                    <div ng-show="editOn[promotion.index] == true">
                        <textarea rows="2" class="form-control"  ng-model="promotion.description"></textarea>
                    </div>
                </div>
                <div ng-show="editOn[promotion.index] == false">
                    <div class="text-right" style="padding: 10px;" ng-show="promotion.link != null && promotion.link != ''">
                        <a ng-href="{{promotion.link}}" target="_blank" class="btn btn-primary">Ver m&aacute;s</a>
                    </div>
                </div>
                <div ng-show="editOn[promotion.index] == true" style="display: -webkit-box; padding-bottom: 10px;">
                    <div class="col-xs-1" style="margin-top: 6px;">
                        Link:
                    </div>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" ng-model="promotion.link"/>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

