<div class="col-md-12" ng-show="promotionsCols.length == 0">
    <div class="error-page left">

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> El estacionamiento no posee promociones.</h3>
            <p>
                Lamentablemente este estacionamiento no tiene promociones vigentes.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
</div>
<div ng-repeat="promotions in promotionsCols" class="row">
    <div class="col-md-6" ng-repeat="promotion in promotions">
        <div class="nav-tabs-custom" style="cursor: move;">
            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                <li class="pull-left header">{{promotion.title != null ? promotion.title : "Oportunidad"}}</li>
            </ul>
            <div class="box-body box-profile">
                {{promotion.description}}
            </div>
            <div class="text-right" style="padding: 10px;" ng-show="promotion.link != null && promotion.link != '' ">
                <a ng-href="{{promotion.link}}" target="_blank" class="btn btn-primary">Ver m&aacute;s</a>
            </div>
        </div>
    </div>
</div>

