<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <div class="box-header with-border">
                <div class="portlet light tasks-widget">
                    <div class="alert alert-danger" role="alert" ng-show="msgError != null">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{msgError}}
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label> <strong>Desde</strong> </label>
                                <input class="form-control date-picker" type="date" ng-model="from" options="opts"/>
                            </div> 
                            <div class="col-md-3">
                                <label> <strong>Hasta</strong> </label>
                                <input  class="form-control date-picker" type="date" ng-model="to" options="opts"/>
                            </div>
                            <div class="col-md-3">
                                <label> <strong>Tipo</strong> </label>
                                <select class="form-control" ng-model="type">
                                    <option value="favorite">Agregado a favoritos</option>
                                    <option value="parking_view">Visitas a página</option>
                                    <option value="comment">Nuevos Comentarios</option>
                                    <option value="reach_parking">Usos</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-default btn-circle" type="submit" style="margin-top:25px;" ng-click="search()">
                                    <div>
                                        Buscar <i class="fa fa-search"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>