<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Envio de Notificaciones</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="title" class="col-sm-3 control-label">Titulo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="title" ng-model="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-3 control-label">Mensaje</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="message" ng-model="message">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="parkingId" class="col-sm-3 control-label">Estacionamiento ID</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="parkingId" ng-model="parkingId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="maxDistance" class="col-sm-3 control-label">Distancia Máxima [m]</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="maxDistance" ng-model="maxDistance">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right" ng-click="send()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>